<head>
    <title>AIBL</title>
</head>
{% extends 'navbar.html' %}

{%block bodyblock%}
<!--<img src="/static/images/pexels-eren-li-7188815.jpg" class="homepage_image">-->
<div class="homepage-container">
    <img src="/static/images/pexels-eren-li-7188815.jpg" class="fade-in-image">
    <div class="keepcentered">
        <h1 style="text-decoration:underline">AIBL</h1>
        <h2>Artificial Intelligence for Braille Learning</h2>
        <br>
        <h5>A simple tool powered by Artificial Intelligence designed to provide a free and modern solution that helps anyone, anywhere teach or learn Braille outside of traditional environments.</h5>
        <br>
        <h5>AIBL is also a perfect tool to keep parents involved and aware of their child's progress in learning the Braille alphabet</h5>
    </div>

</div>


{% endblock %}