
{% extends 'navbar.html' %}

{% block bodyblock %}
<div class="row align-items-start" style="margin-top: 70px; margin-left:30%">
    <div class="col-2"  ></div>

    <div class="col-8" style="text-align: left;">
      <h3 class='display-2' text-align="center">Login</h3>

      <form style="font-size: 10pt;" id="newAssetForm">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" style="width:30%">
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" style="width:30%">
          <br>
          <input type="checkbox" onclick="togglePassword()">   Show Password 
        </div>
        <br>
        <button type="button" id="login_btn" class="btn btn-secondary" style="margin-left: 10%;">Login</button> <br/><br/>
        
      </form>
    </div>

    <div class="col-2"  ></div>
</div>

{% endblock %}